{% extends "layout/main.html.twig" %}
{% set active_page = 'home' %}
{% block body %}
    <div class="row">
        {{ dashboardwidget('member', qtdmembers) }}
        {{ dashboardwidget('game', qtdgames) }}
        {{ dashboardwidget('session', qtdsessions) }}
    </div>
    <hr />
    <div class="row">
        {% if users is empty %}
            {{ 'Nenhum membro cadastrado.'|bt_alert('info') }}
        {% else %}
            {% for user in users %}
                {{ userwidget(user.name|e, user.own, user.others) }}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}