{% if sessions is not empty %}
    {% for session in sessions %}
        <h4 class="text-right" style="border-bottom: 1px solid whitesmoke"><a href="">Partida {{ loop.index }}</a></h4>
        <dl class="dl-horizontal">
            <dt>Jogo:</dt>
            <dd>{{ session.game }}</dd>
            <dt>Designer:</dt>
            <dd>{{ session.designer }}</dd>
            <dt>Jogadores:</dt>
            <dd>
            {% if session.players is not empty %}
                <ul>
                    {% for player in session.players %}
                        <li>{{ player }}</li>
                    {% endfor %}
                </ul>
            {% else %}
            {% endif %}
            </dd>
        </dl>
    {% endfor %}
{% else %}
    {{ 'Nenhuma partida cadastrada.'|bt_alert('info') }}
{% endif %}