{% extends "layout/main.html.twig" %}
{% set active_page = 'meetups_list' %}
{% block title %}::Meetups{% endblock %}
{% block body %}
    <div class="row">
        <div class="btn-group pull-right" role="group">
            <button type="button" class="btn btn-default meetup-edit">
                {{ bt_glyph('pencil') }}&nbsp;Editar encontro
            </button>
            <button type="button" class="btn btn-default session-add">
                {{ bt_glyph('plus') }}&nbsp;Sessão
            </button>
        </div>
    </div>
    {% if meetup is empty %}
        {{ "Meetup não encontrado!"|e|bt_alert('danger') }}        
    {% else %}
    <div class="row">
        <dl class="dl-horizontal">
            <dt>Título:</dt>
            <dd>{{ meetup.title|e }}</dd>
            <dt>Local:</dt>
            <dd>{{ meetup.local|e }}</dd>
            <dt>Quando:</dt>            
            <dd>{{ meetup.happening|date('d/m/Y H:i') }}</dd>
            <dt>Tipo do encontro:</dt>
            <dd>{{ meetup.meetuptype|meetuptype }}</dd>
            <dt>Observações:</dt>
            <dd>{{ meetup.notes|e }}</dd>
        </dl>
    </div>
    <div class="page-header">
        <h4>Sessões ({{ sessions|length }})</h4>
    </div>
    {% include 'meetup/sessions.html.twig' with { 'sessions': sessions } %}
    {% endif %}
{% endblock %}
{% block javascripts %}
$('.meetup-edit').click(function(){
    window.location.assign('{{ app.url_generator.generate('meetup_edit', { 'meetup': meetup.id }) }} ');
});
$('.session-add').click(function(){
    window.location.assign('{{ app.url_generator.generate('session_edit', { 'meetup': meetup.id }) }}');
});
{% endblock %}