{% extends "layout/main.html.twig" %}
{% set active_page = 'members_list' %}
{% block title %}::Membros{% endblock %}
{% block body %}
    <div class="page-header">
        <h1>Membros</h1>
    </div>
    <div class="btn-group pull-right" role="group">
        <button type="button" class="btn btn-primary member-new">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;Novo membro
        </button>
    </div>
    <br style="clear:both" />
    <br />
    {% if members is not empty %}
    <table class="table table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Usuário</th>
                <th>Nome</th>
                <th>Karma</th>
                <th>Status</th>
                <th>Data afiliação</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
            <tr data-id="{{ member.id }}">
                <td>
{#                    <button class="btn btn-danger btn-xs member-remove">
                        {{ bt_glyph('remove') }}
                    </button>#}
                    <button class="btn btn-success btn-xs member-view">
                        {{ bt_glyph('eye-open') }}
                    </button>
                    <button class="btn btn-primary btn-xs member-edit">
                        {{ bt_glyph('pencil') }}
                    </button>
                </td>
                <td>{{ member.username }}</td>
                <td>{{ member.name }}</td>
                <td class="text-center">???</td>
                <td><span class="label label-success">ativo</span></td>
                <td class="text-right">{{ member.affiliation|date('d/m/Y') }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6" class="text-right">Número de membros: {{ members|length }}</td>
            </tr>
        </tfoot>
    </table>
    {% else %}
        <div class="alert alert-info text-center">Nenhum membro cadastrado.</div>
    {% endif %}
{% endblock %}
{% block javascripts %}
$('.member-new').click(function(){
    window.location.assign('{{ app.url_generator.generate('member_edit') }}');
});
$('.member-view').click(function(){
    window.location.assign('/members/view/' + $(this).parents('tr').eq(0).attr('data-id'));
});
$('.member-edit').click(function(){
    window.location.assign('/members/edit/' + $(this).parents('tr').eq(0).attr('data-id'));
});
{% endblock %}